body {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  color: #34a68c;
  line-height: 1.5;
  background: url("../img/bg.png");
}
body,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: #34a68c;
  text-decoration: none;
}
.content {
  top: 40px;
  bottom: 75px;
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  position: absolute;
  background-image: url("/img/tile.png");
  background-size: contain;
}
.content .content-inner {
  height: 100%;
}
.content .content-inner .panel {
  background-image: url("../img/bg.png");
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  background-color: #212526;
  overflow: scroll;
}
.content .content-inner .panel .panel-inner {
  padding: 40px;
}
.content .content-inner .panel .panel-inner .bigimg {
  width: 100%;
  display: block;
}
.bottom-nav {
  background: url("../img/bg.png");
  position: fixed;
  bottom: 0;
  height: 75px;
  z-index: 99;
  width: 100%;
}
.bottom-nav .logo {
  line-height: 75px;
  font-size: 18px;
  float: left;
}
.bottom-nav .bottom-nav-inner {
  width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.bottom-nav .bottom-nav-inner:after {
  display: block;
  clear: both;
  content: "";
}
.bottom-nav .bottom-nav-inner .nav {
  float: right;
  line-height: 75px;
  font-size: 12px;
}
.bottom-nav .bottom-nav-inner .nav li {
  width: 100px;
  text-align: center;
  color: #34a68c;
  font-size: 12px;
  float: left;
}
.scrollable {
  overflow: hidden !important;
}
.scrollable .scroll-bar.vertical {
  width: 3px;
  margin: 40px 20px 40px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  padding: 2px;
}
.scrollable .scroll-bar.vertical .thumb {
  background-color: #34a68c;
  width: 3px !important;
}
.bling {
  font-weight: bold;
}
.bling .text {
  background-image: -webkit-linear-gradient(to right, #71b499 0%, #2ca490 38%, #bdded1 78%, #71b499 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bling 3s infinite;
}
@-moz-keyframes bling {
  0% {
    background-position: 90px 0;
  }
  40% {
    background-position: 0 0;
  }
}
@-webkit-keyframes bling {
  0% {
    background-position: 90px 0;
  }
  40% {
    background-position: 0 0;
  }
}
@-o-keyframes bling {
  0% {
    background-position: 90px 0;
  }
  40% {
    background-position: 0 0;
  }
}
@keyframes bling {
  0% {
    background-position: 90px 0;
  }
  40% {
    background-position: 0 0;
  }
}
