body {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: 1.5;
  background-image: url("/img/tile.png");
}
body,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
.header {
  height: 60px;
  width: 100%;
  position: fixed;
  background-image: url("/img/bg.png");
}
.header {
  top: 0;
}
.header .brand {
  padding: 10px;
  padding-right: 80px;
  display: block;
  float: left;
}
.header .nav li a {
  padding: 25px 40px 10px 40px;
}
.header .user {
  float: right;
}
.header .user li a {
  padding: 25px 15px 10px 15px;
}
.header .user .mine {
  display: block;
  float: right;
  color: #fff;
  font-size: 12px;
  padding: 25px 15px 10px 15px;
}
.footer {
  background-image: url("/img/bg.png");
}
.footer .nav a,
.footer .nav span {
  padding: 15px 20px 10px 20px;
}
.footer .social {
  float: right;
}
.footer .social span {
  color: #fff;
  font-size: 12px;
  padding: 15px 20px 10px 20px;
  float: left;
}
.footer .social img {
  padding: 10px;
  float: left;
}
.container {
  padding: 0 15px;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.nav {
  float: left;
}
.nav li {
  float: left;
}
.nav li a,
.nav li span {
  display: block;
  color: #fff;
  font-size: 12px;
}
/* widgets */
.btn {
  width: 220px;
  background-color: #232323;
  color: #fff;
  height: 44px;
  line-height: 44px;
  padding: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content {
  zoom: 1;
  min-width: 800px;
  margin-top: 70px;
  margin-bottom: 10px;
  min-height: 550px;
  background-color: #fff;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content .panel {
  zoom: 1;
  padding: 20px 0;
}
.content .panel:before,
.content .panel:after {
  content: "";
  display: table;
}
.content .panel:after {
  clear: both;
}
.content .panel .bigpic {
  float: right;
  width: 75%;
}
.aside {
  float: left;
  width: 25%;
}
.aside .inner {
  padding: 150px 75px 0 75px;
  font-size: 12px;
}
.aside .inner .title {
  margin-bottom: 35px;
}
.aside .inner li {
  list-style-type: disc;
  margin-bottom: 10px;
}
.aside .inner .active a {
  color: #787878;
}
.modal .modal-lg {
  width: 1200px;
}
.modal .modal-header,
.modal .modal-footer {
  border: none;
}
.modal .modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
#modal-mine {
  font-size: 12px;
}
#modal-mine h2 {
  font-size: 12px;
  margin-bottom: 17px;
}
#modal-mine p {
  margin-bottom: 8px;
}
#modal-mine .title {
  font-weight: bold;
}
#modal-mine .menu li {
  margin-bottom: 20px;
}
#modal-mine .menu .active a {
  font-weight: bold;
}
#modal-mine .left {
  width: 255px;
  float: left;
}
#modal-mine .left .title {
  margin-bottom: 25px;
}
#modal-mine .right {
  width: 675px;
  float: left;
}
#modal-mine .right .title {
  margin-bottom: 5px;
}
#modal-mine .right .head {
  border-bottom: 1px dashed #000;
}
#modal-mine .modal-body {
  zoom: 1;
  padding: 80px 65px;
}
#modal-mine .modal-body:before,
#modal-mine .modal-body:after {
  content: "";
  display: table;
}
#modal-mine .modal-body:after {
  clear: both;
}
#modal-mine .btn {
  background-color: #fff;
  width: 88px;
  color: #000;
  border: 1px solid #000;
}
#modal-mine .table > thead > tr > th,
#modal-mine .table > tbody > tr > th,
#modal-mine .table > tfoot > tr > th,
#modal-mine .table > thead > tr > td,
#modal-mine .table > tbody > tr > td,
#modal-mine .table > tfoot > tr > td {
  border: none;
}
#modal-mine .table th,
#modal-mine .table td {
  line-height: 44px;
  height: 44px;
}
#modal-login {
  font-size: 12px;
}
#modal-login h2 {
  font-size: 12px;
  margin-bottom: 17px;
}
#modal-login .btn {
  margin-top: 64px;
}
#modal-login .inner {
  padding: 60px 0 0 0;
}
#modal-login .right .inner {
  padding-left: 50px;
}
#modal-login .right .inner p {
  margin-bottom: 8px;
}
#modal-login .form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  height: 25px;
  margin-bottom: 15px;
  width: 220px;
}
#modal-login .label {
  margin-bottom: 8px;
}
#modal-login .left {
  width: 49%;
  border-right: 1px solid #000;
  float: left;
}
#modal-login .modal-dialog {
  width: 1100px;
}
#modal-login .modal-body {
  zoom: 1;
  padding: 80px 110px;
}
#modal-login .modal-body:before,
#modal-login .modal-body:after {
  content: "";
  display: table;
}
#modal-login .modal-body:after {
  clear: both;
}
#modal-login .right {
  width: 50%;
  float: left;
}
