body
    font-family: "Hiragino Sans GB","Microsoft Yahei", sans-serif;
    line-height: 1.5
    background-image: url('/img/tile.png')

body,ul,li,h1,h2,h3,h4,p
    margin: 0
    padding: 0


li
    list-style-type: none

a
    color: #000
    text-decoration: none

.header
    height: 60px
    width: 100%
    position: fixed
    background-image: url('/img/bg.png')

.header
    top: 0
    .brand
        padding: 10px
        padding-right: 80px
        display: block
        float: left
    .nav
        li a
            padding: 25px 40px 10px 40px
    .user
        float: right
        li a
            padding: 25px 15px 10px 15px
        span
            display: block
            float: right
            color: #fff
            font-size: 12px
            padding: 25px 15px 10px 15px

.footer
    background-image: url('/img/bg.png')
    .nav a,.nav span
        padding: 15px 20px 10px 20px
    .social
        float: right
        span
            color: #fff
            font-size: 12px
            padding: 15px 20px 10px 20px
            float: left
        img
            padding: 10px
            float: left


.container
    padding: 0 15px
    clearfix()


.nav
    float: left
    li
        float: left
        a,span
            display: block
            color: #fff
            font-size: 12px

/* widgets */
.btn
    margin-top:64px
    width: 220px
    background-color: #232323
    color: #fff
    height: 44px
    line-height: 44px
    padding: 0
    border-radius: 0

.content
    clearfix()
    min-width: 800px
    margin-top: 70px
    margin-bottom: 10px
    min-height: 550px
    background-color: #fff
    .panel
        clearfix()
        padding: 20px 0
        .bigpic
            float: right
            width: 75%


.aside
    float: left
    width: 25%
    .inner
        padding: 150px 75px 0 75px
        font-size: 12px
        .title
            margin-bottom: 35px
        li
            list-style-type: disc
            margin-bottom: 10px
        .active a
            color: #787878

.modal 
    .modal-lg
        width: 1200px
    .modal-header,.modal-footer
        border: none
    .modal-content
        border-radius: 0

#modal-login
    font-size: 12px
    .modal-content
        padding: 80px 0 100px 0
    h2
        font-size: 12px
        margin-bottom: 17px
    .inner
        padding: 60px 0 0 0
    .right .inner
        padding-left: 50px
        p
            margin-bottom: 8px
    .form-control
        border-radius: 0
        background: #fff
        height: 25px
        margin-bottom: 15px
        width: 220px
    .label
        margin-bottom: 8px
    .left
        width: 49%
        border-right: 1px solid #000
        float: left
    .modal-dialog
        width: 1100px
    .modal-body
        clearfix()
        padding: 0 110px
    .right
        width: 50%
        float: left