body {
  font-family: "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: 1.5;
  background-image: url("/img/tile.png");
}
body,
ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
.header {
  height: 60px;
  width: 100%;
  position: fixed;
  background-image: url("/img/bg.png");
}
.header {
  top: 0;
}
.header .brand {
  padding: 10px;
  padding-right: 80px;
  display: block;
  float: left;
}
.footer {
  background-image: url("/img/bg.png");
}
.footer .nav a {
  padding: 25px 20px 10px 20px;
}
.footer .social {
  float: right;
}
.footer .social span {
  color: #fff;
  font-size: 12px;
  padding: 25px 20px 10px 20px;
  float: left;
}
.footer .social img {
  padding: 10px;
  float: left;
}
.container {
  min-width: 1200px;
  padding: 0 15px;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.nav {
  float: left;
}
.nav li {
  float: left;
}
.nav li a,
.nav li span {
  display: block;
  padding: 25px 40px 10px 40px;
  color: #fff;
  font-size: 12px;
}
.content {
  zoom: 1;
  margin-top: 70px;
  margin-bottom: 10px;
  min-height: 550px;
  background-color: #fff;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content .panel {
  zoom: 1;
  padding: 20px 0;
}
.content .panel:before,
.content .panel:after {
  content: "";
  display: table;
}
.content .panel:after {
  clear: both;
}
.content .panel .bigpic {
  float: right;
  width: 75%;
}
.aside {
  float: left;
  width: 25%;
}
.aside .inner {
  padding: 150px 75px 0 75px;
  font-size: 12px;
}
.aside .inner .title {
  margin-bottom: 35px;
}
.aside .inner li {
  list-style-type: disc;
  margin-bottom: 10px;
}
.aside .inner .active a {
  color: #787878;
}
