body
    font-family: "Hiragino Sans GB","Microsoft Yahei", sans-serif;
    line-height: 1.5
    background-image: url('/img/tile.png')

body,ul,li,h1,h2,h3,h4,p
    margin: 0
    padding: 0


li
    list-style-type: none

a
    color: #000
    text-decoration: none

.header
    height: 60px
    width: 100%
    position: fixed
    background-image: url('/img/bg.png')

.header
    top: 0
    .brand
        padding: 10px
        padding-right: 80px
        display: block
        float: left
    .nav
        li a
            padding: 25px 40px 10px 40px

.footer
    background-image: url('/img/bg.png')
    .nav a,.nav span
        padding: 15px 20px 10px 20px
    .social
        float: right
        span
            color: #fff
            font-size: 12px
            padding: 15px 20px 10px 20px
            float: left
        img
            padding: 10px
            float: left


.container
    padding: 0 15px
    clearfix()


.nav
    float: left
    li
        float: left
        a,span
            display: block
            color: #fff
            font-size: 12px


.content
    clearfix()
    margin-top: 70px
    margin-bottom: 10px
    min-height: 550px
    background-color: #fff
    .panel
        clearfix()
        padding: 20px 0
        .bigpic
            float: right
            width: 75%


.aside
    float: left
    width: 25%
    .inner
        padding: 150px 75px 0 75px
        font-size: 12px
        .title
            margin-bottom: 35px
        li
            list-style-type: disc
            margin-bottom: 10px
        .active a
            color: #787878