@import "mixins"
@import "variables"

.content .panel .panel-inner
    clearfix()
    overflow: hidden

#slides
    float: left
    width: 330px
    position: relative
    img
        width: 330px

.slidesjs-navigation
    display: none
.slidesjs-pagination
    text-align: center
    margin-top: 20px
    .slidesjs-pagination-item
        width: 4px
        height: 4px
        border-radius: 4px
        margin: 0 5px
        display: inline-block
        background-color: cyan
        border: 2px solid cyan
        a
            display: block
            text-indent: -999px

.product
    float: left
    font-size: 12px
    width: 275px
    margin-left: 35px
    margin-right: 65px
    .head
        padding-top: 30px
        padding-bottom: 30px
        border-bottom: 1px solid cyan
        margin-bottom: 20px
    .detail
        margin-bottom: 20px
    .control
        clearfix()
        margin-bottom: 45px
        .label
            float: left
        .select
            border: 1px solid cyan
            background-color: #000
            float: left
            height: 15px
            margin: 0 30px 0 10px
            width: 70px
    .price
        font-size: 14px
        margin: 40px 0
        text-align: right
    .buy
        .btn
            float: right
            color: #000
            background-color: cyan


.others
    float: left
    overflow: hidden
    padding-right: 40px
    .item
        width: 140px
        height: 140px
        margin-bottom: 24px