.panel-inner {
  zoom: 1;
  overflow-x: hidden;
}
.panel-inner:after {
  content: "";
  display: block;
  clear: both;
}
#slides {
  float: left;
  width: 330px;
  position: relative;
}
#slides img {
  width: 330px;
}
.slidesjs-navigation {
  display: none;
}
.slidesjs-pagination {
  text-align: center;
  margin-top: 20px;
}
.slidesjs-pagination .slidesjs-pagination-item {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin: 0 5px;
  display: inline-block;
  background-color: #00a08e;
  border: 2px solid #fff;
}
.slidesjs-pagination .slidesjs-pagination-item a {
  display: block;
  text-indent: -999px;
}
.product {
  float: left;
  font-size: 12px;
  width: 275px;
  margin-left: 35px;
  margin-right: 65px;
}
.product .head {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #00a08e;
  margin-bottom: 20px;
}
.product .detail {
  margin-bottom: 20px;
}
.product .control {
  zoom: 1;
  margin-bottom: 45px;
}
.product .control:after {
  content: "";
  display: block;
  clear: both;
}
.product .control .label {
  float: left;
}
.product .control .select {
  border: 1px solid #00a08e;
  background-color: #000;
  float: left;
  height: 15px;
  margin: 0 30px 0 10px;
  width: 70px;
}
.product .price {
  font-size: 14px;
  margin: 40px 0;
  text-align: right;
}
.product .buy .btn {
  float: right;
  color: #000;
  background-color: #00a08e;
}
.others {
  float: left;
}
.others .item {
  width: 140px;
  height: 140px;
  margin-bottom: 24px;
}
