.content .panel .panel-inner {
  zoom: 1;
  overflow: hidden;
}
.content .panel .panel-inner:after {
  content: "";
  display: block;
  clear: both;
}
#slides {
  float: left;
  width: 330px;
  position: relative;
}
#slides img {
  width: 330px;
  display: block;
}
#slides .slidesjs-navigation {
  display: none;
}
#slides .item {
  display: block;
  overflow: relative;
}
#slides .item .overlay {
  display: none;
}
#slides .item:hover .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.3);
}
.slidesjs-pagination {
  text-align: center;
  margin-top: 20px;
}
.slidesjs-pagination .slidesjs-pagination-item {
  margin: 0 5px;
  display: inline-block;
}
.slidesjs-pagination .slidesjs-pagination-item a {
  background-color: #00a08e;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #00a08e;
  display: block;
  text-indent: -999px;
}
.slidesjs-pagination .slidesjs-pagination-item .active {
  border: 2px solid #fff;
}
.product {
  float: left;
  font-size: 12px;
  width: 275px;
  margin-left: 35px;
  margin-right: 65px;
}
.product .head {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #00a08e;
  margin-bottom: 20px;
}
.product .detail {
  margin-bottom: 20px;
}
.product .control {
  zoom: 1;
  margin-bottom: 45px;
}
.product .control:after {
  content: "";
  display: block;
  clear: both;
}
.product .control .label {
  float: left;
}
.product .control .input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  height: 20px;
  border: 1px solid #00a08e;
  color: #00a08e;
  background-color: #000;
  float: left;
  margin: 0 30px 0 10px;
  width: 70px;
}
.product .control .select {
  -webkit-appearance: none;
  background-image: url("/img/down-arrow.png");
  background-position: 56px 6px;
  background-repeat: no-repeat;
}
.product .price {
  font-size: 14px;
  margin: 40px 0;
  text-align: right;
}
.product .buy .btn {
  float: right;
  color: #000;
  background-color: #00a08e;
}
.others {
  float: left;
  overflow: hidden;
  padding-right: 40px;
}
.others .item {
  width: 140px;
  height: 140px;
  margin-bottom: 24px;
}
