.header,.footer
  z-index: 10
  min-width: 1260px
  max-width: 1400px

.content
  min-width: 1260px
  overflow-y: scroll
  overflow-x: hidden
  background-color: #2c2c2a
  background-image: url("/photos/list-bg.jpg")
  background-position: left top
  min-height: 400px
  height: 550px

.aside
  position: relative
  z-index: 5
  width: 370px
  .inner
    position: fixed 
    font-size: 12px
    .title
      color: #787878
    a
      color: #787878
    .active a
      color: #fff
  .ph // placeholder
    width: 100%
    padding: 150px 75px 0 75px

.info
  clearfix()
  position: relative
  z-index: 5
  width: 700px
  float: left
  .list
    clearfix()
    li
      width: 50%
      float: left
      img
        width: 100%