.content {
  position: relative;
}
.content .panel {
  background: #98d7c9;
  background: rgba(255,255,255,0.2);
  width: 330px;
  border-radius: 10px;
}
.content .panel.register {
  width: 770px;
}
.content .panel.register .panel-inner {
  padding: 0;
}
.content .panel.register .panel-inner .form {
  zoom: 1;
}
.content .panel.register .panel-inner .form:after {
  content: "";
  display: block;
  clear: both;
}
.content .panel.register .panel-inner .left {
  float: left;
  width: 460px;
  margin-right: 35px;
}
.content .panel.register .panel-inner .right {
  float: left;
}
.content .panel.register .panel-inner .row input {
  float: left;
  width: 245px;
  margin-right: 5px;
}
.content .panel.register .panel-inner .hint {
  position: relative;
  top: 8px;
  float: left;
}
.content .panel .panel-inner {
  overflow: scroll;
  position: relative;
  padding: 0 40px;
}
.content .panel .panel-inner .logo {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
.content .panel .panel-inner .row {
  zoom: 1;
  position: relative;
  margin-bottom: 20px;
}
.content .panel .panel-inner .row:after {
  content: "";
  display: block;
  clear: both;
}
.content .panel .panel-inner .row input {
  padding: 5px 10px;
  font-size: 17px;
  box-sizing: border-box;
  display: block;
  height: 38px;
  border: 1px solid #fff;
  color: #31ae92;
  width: 100%;
}
.content .panel .panel-inner .row .hint {
  color: #fff;
}
.content .panel .panel-inner .row .submit {
  cursor: pointer;
  background: url("/img/login.png");
  width: 71px;
  height: 71px;
  border: none;
  margin: 50px auto;
  display: block;
  text-index: -999px;
}
.content .panel .panel-inner .row.active input {
  background-color: #31ae92;
  border-color: #fff;
  color: #fff;
}
.others {
  zoom: 1;
  font-size: 12px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  padding: 0px;
}
.others:after {
  content: "";
  display: block;
  clear: both;
}
.others .new {
  margin-left: 20px;
  float: left;
}
.others .forget-password {
  margin-right: 20px;
  float: right;
}
