@import "mixins"
@import "variables"
cyan = #31ae92
.content
    .panel
        background: #98d7c9
        background: rgba(255,255,255,0.2)
        width: 330px
        border-radius: 10px
        .panel-inner
            overflow: scroll
            position: relative
            padding: 0 40px
            .logo
                margin: 0 auto
                display: block
                margin-bottom: 30px
            .row
                clearfix()
                position: relative
                margin-bottom: 20px 
                input
                    padding: 5px 10px
                    font-size: 12px
                    display: block
                    height: 22px
                    border: 1px solid #fff
                    color: cyan
                .hint
                    font-size: 12px
                    color: #fff
                .submit
                    cursor: pointer
                    background-repeat: no-repeat
                    background-color: transparent
                    width: 71px
                    height: 71px
                    border: none
                    margin: 50px auto
                    display: block
                    text-indent: -999px
                    float: none
                    margin: 0 auto
                    background-position: center center
            .password-strength
                font-size: 12px
                padding-left: 10px
                color: #fff
            .row.active
                input
                    background-color: cyan
                    border-color: #fff
                    color: #fff
        &.register
            width: 770px
            overflow: scroll
            .panel-inner 
                padding: 0
                .fields
                    clearfix()
                    .row input
                        float: left
                        width: 245px
                        margin-right: 5px
                .left
                    float: left
                    width: 460px
                    margin-right: 35px
                .right
                    float: left
                .row 
                    .submit
                        margin-top: 70px
                        background-image: url("/img/reg-btn.png")
                .hint
                    position: relative
                    top: 8px
                    float: left
        &.login .panel-inner 
            .row 
                input
                    width: 228px
                .submit
                    background-image: url("/img/login-btn.png")
        

.others
    clearfix()
    font-size: 12px
    a
        color: #fff
    .left-link
        float: left
    .right-link
        float: right
