@import "mixins"
@import "variables"
cyan = #31ae92
.content
    position: relative
    .panel
        background: #98d7c9
        background: rgba(255,255,255,0.2)
        width: 330px
        border-radius: 10px
        &.register
            width: 770px
            .panel-inner 
                padding: 0
                .form
                    clearfix()
                .left
                    float: left
                    width: 460px
                    margin-right: 35px
                .right
                    float: left
                .row input
                    float: left
                    width: 245px
                    margin-right: 5px
                .hint
                    position: relative
                    top: 8px
                    float: left
        .panel-inner
            overflow: scroll
            position: relative
            padding: 0 40px
            .logo
                margin: 0 auto
                display: block
                margin-bottom: 30px
            .row
                clearfix()
                position: relative
                margin-bottom: 20px 
                input
                    padding: 5px 10px
                    font-size: 17px
                    box-sizing: border-box
                    display: block
                    height: 38px
                    border: 1px solid #fff
                    color: cyan
                    width: 100%
                .hint
                    color: #fff
                .submit
                    cursor: pointer
                    background: url("/img/login.png")
                    width: 71px
                    height: 71px
                    border: none
                    margin: 50px auto
                    display: block
                    text-index: -999px
            .row.active
                input
                    background-color: cyan
                    border-color: #fff
                    color: #fff
        

.others
    clearfix()
    font-size: 12px
    position: absolute
    width: 100%
    left: 0
    bottom: 10px
    padding: 0px
    .new
        margin-left: 20px
        float: left
    .forget-password
        margin-right: 20px
        float: right
