extend layout

block style
    link(rel="stylesheet",href="/css/brand.css")

block content
    .section.odd
        img.pic(src="/img/brand-1.png")
        .article
            .title About Circle
            .cont
                | 生活是一个无边的圆，圆心无处不在，而圆周不在任何地方。
                br
                | 始创于2013年的彩色珠宝品牌CIRCLE，关注女性的生命状态，
                br
                | 希望通过精心打造的每一件珠宝，倡导一种融通豁达的生活态度，
                br
                | 传统与现代、独立与尊严、爱与自由，皆可成为女人们生活的圆心。
                br
                | 生命中的每一个选择,如同形形色色的彩色宝石一样丰富，
                br
                | 无论向左或向右，都将是一段无尽延伸的旅程。  
                br
    .section.even
        img.pic(src="/img/brand-2.png")
        .article 
            .title Circle
            .cont 
                | 平衡女性与时间的关系，
                br
                | 希望借由流光溢彩的珠宝载你在时间中自由穿梭，
                br
                | 敞开女人们对于时间的想象，
                br
                | 或是对过去的牵念，或是于现世的挣扎，又或是对未来的希冀。
                br
                | 这一场美妙的时间旅行，是女人们心灵的活力之源。  
                br
    .section.odd
        img.pic(src="/img/brand-1.png")
        .article
            .title About Circle
            .cont
                | 生活是一个无边的圆，圆心无处不在，而圆周不在任何地方。
                br
                | 始创于2013年的彩色珠宝品牌CIRCLE，关注女性的生命状态，
                br
                | 希望通过精心打造的每一件珠宝，倡导一种融通豁达的生活态度，
                br
                | 传统与现代、独立与尊严、爱与自由，皆可成为女人们生活的圆心。
                br
                | 生命中的每一个选择,如同形形色色的彩色宝石一样丰富，
                br
                | 无论向左或向右，都将是一段无尽延伸的旅程。  
                br
    .section.even
        img.pic(src="/img/brand-2.png")
        .article 
            .title Circle
            .cont 
                | 平衡女性与时间的关系，
                br
                | 希望借由流光溢彩的珠宝载你在时间中自由穿梭，
                br
                | 敞开女人们对于时间的想象，
                br
                | 或是对过去的牵念，或是于现世的挣扎，又或是对未来的希冀。
                br
                | 这一场美妙的时间旅行，是女人们心灵的活力之源。  
                br
    .section.odd
        img.pic(src="/img/brand-1.png")
        .article
            .title About Circle
            .cont
                | 生活是一个无边的圆，圆心无处不在，而圆周不在任何地方。
                br
                | 始创于2013年的彩色珠宝品牌CIRCLE，关注女性的生命状态，
                br
                | 希望通过精心打造的每一件珠宝，倡导一种融通豁达的生活态度，
                br
                | 传统与现代、独立与尊严、爱与自由，皆可成为女人们生活的圆心。
                br
                | 生命中的每一个选择,如同形形色色的彩色宝石一样丰富，
                br
                | 无论向左或向右，都将是一段无尽延伸的旅程。  
                br
    .section.even
        img.pic(src="/img/brand-2.png")
        .article 
            .title Circle
            .cont 
                | 平衡女性与时间的关系，
                br
                | 希望借由流光溢彩的珠宝载你在时间中自由穿梭，
                br
                | 敞开女人们对于时间的想象，
                br
                | 或是对过去的牵念，或是于现世的挣扎，又或是对未来的希冀。
                br
                | 这一场美妙的时间旅行，是女人们心灵的活力之源。  
                br
