extend layout
block style
  style.
    .content{
      background-color: #303030
    }

    .content .panel .aside{
      width: 35%
    }

    .content .panel .aside .inner{
      padding-top: 160px;
      color:#fff;
    }

    .content .panel .aside .inner p{
      margin-bottom: 50px;
      font-size: 12px;
      line-height: 1.8;
    }

    .content .panel .bigpic{
      width: 65%
    }




block content
  .aside
    .inner
      .title 联系我们
      ul
        li 公司地址 杭州市上城区中河中路258号瑞丰大厦25B
        li 服务邮箱 service@circlewava.com
        li 客服电话 4008939319
        li 微信订阅号 circle-wechat
        li 微信服务号 circle9319
  img.bigpic(src="/photos/contact.jpg")
