extend layout

block style
    link(rel="stylesheet",href="/css/detail.css")

block content
  .aside
    .inner
      .title 轻奢彩宝
      ul
        li.active 
          a(href="#") 爱，从自己开始。
        li
          a(href="#") 闺蜜的果香
  .info
    .pic
        .inner
            img(src="/photos/detail.jpg")
    .detail
        .head.dblock
            .inner
                | 18K金镶嵌钻石珍珠戒指
                br
                | K18 diamond & pearl ring  
                br
                | 钻石:1.2mmX2Pcs 0.02ct,1.5mmX2Pcs 0.03ct, 珍珠:1.6mmX2Pcs 2mmX2Pcs, 2.2mmX1Pc 黄金：1.11g
            .price ￥2300
        .meta.dblock
            ul.tips
                li 
                    a(href="#") 如何保养
                li 
                    a(href="#") 品牌服务
                li.last 
                    a(href="#") 查看证书
            ul.thumbs
                li
                    img(src="/photos/detail-thumb.jpg")
        .select.dblock
                .title 选择戒圈
                ul.choices
                    li 10
                    li 11
                    li 12
                    li.active 13
                    li 14
                a.howto(href='#') 戒指选择指南
        .buy.dblock.last
            a.submit(href='#') 点击购买
            .hint
                | 免运费
                br
                | 7天无理由退货


block script
    script.
        $(function(){

        });