extend layout


block content
  .aside
    .inner
      .title 轻奢彩宝
      ul
        li 
          a(href="#") 爱，从自己开始。
        li.active
          a(href="#") 闺蜜的果香
  img.bigpic(src="/photos/index.jpg")