include mixins/collection-item
extend layout

block content
    .panel
        .panel-inner
            +item("/img/detail.jpg")
            +item("/img/detail.jpg")
            +item("/img/detail.jpg")
            +item("/img/detail.jpg")
            +item("/img/detail.jpg")