extend layout

block style

block content
    .panel
        .panel-inner
            img.bigimg(src="/img/detail.jpg")
            img.bigimg(src="/img/detail.jpg")
            img.bigimg(src="/img/detail.jpg")
            img.bigimg(src="/img/detail.jpg")

block script
    script.
        $(window).load(function(){
            $(".panel").customScrollbar();
        });