mixin item(link,text)
    li
        a(href="#{link}") #{text}

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block vars
        title=title
        link(rel="stylesheet",href="/css/bootstrap.css")
        link(rel="stylesheet",href="/css/base.css")
        script(src="/js/jquery.js")
        block style
    body
        .header
            .container
                a.brand(href="/")
                    img(src="/img/brand.png")
                ul.nav
                    +item("/html/list.html","轻彩宝")
                    +item("/html/list.html","高级彩宝")
                    +item("/html/brand.html","品牌故事")
                    +item("/","My Circle")
                .user
                    ul.nav
                        li
                            a(href="javascript:;",data-toggle="modal",data-target="#modal-login") 登录
                        li
                            a(href="javascript:;",data-toggle="modal",data-target="#modal-register") 注册
                    a.mine(href="#",data-toggle="modal",data-target="#modal-mine")
                        | Morning, 王同学


        div.content
            .panel.container
                block content
        .footer
            .container
                ul.nav
                    li
                        span @2014 circle
                    li
                        a(href="/html/contact.html") 联系我们
                    li
                        a(href="/html/privacy.html") 隐私政策
                    li
                        a(href="/html/brand.html") 使用条款
                .social
                    span 与我们互动
                    img(src="/img/weixin.png")
                    img(src="/img/weibo.png")
        include modals/login
        include modals/register
        include modals/mine
        block script
        script(src="/js/bootstrap.js")