doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block vars
        title=title
        link(rel="stylesheet",href="/css/base.css")
        link(rel="stylesheet",href="/css/scrollbar.css")
        script(src="/js/jquery.js")
        script(src="/js/jquery.slides.js")
        script(src="/js/scrollbar.js")
        style.
            #slides {
              display:none;
            }
        block style
    body
        div.content
            block content
        .bottom-nav
            .bottom-nav-inner
                .logo 
                    a.bling(href="/html/") 
                        .text CIRCLE
                ul.nav
                    li 
                        a(href="/html/light.html") 轻彩宝
                    li.bling 
                        a.text(href="/html/luxery.html") 高级彩宝
                    li 
                        a(href="/html/brand.html") 品牌故事
                    li 
                        a(href="/html/order.html") My CIRCLE
        block script