mixin item(link,text)
    li.item
        a.menu-item(href="#{link}") #{text}

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block vars
        title=title
        link(rel="stylesheet",href="/css/bootstrap.css")
        link(rel="stylesheet",href="/css/base.css")
        script(src="/js/jquery.js")
        block style
    body
        .header
            .container
                a.brand(href="/html")
                    img(src="/img/brand.png")
                ul.nav
                    li.dropdown.item
                        a.menu-item.dropdown-toggle(href='javascript:;',data-toggle="dropdown") 轻彩宝
                        ul.dropdown-menu
                            li
                                a(href="/html/detail.html") 爱，从自己开始
                            li
                                a(href="/html/detail.html") 闺蜜的果香
                                
                    +item("/html/list.html","高级彩宝")
                    +item("/html/brand.html","品牌故事")
                    +item("/html","My Circle")
                .user
                    ul.nav
                        li.item
                            a.menu-item(href="javascript:;",data-toggle="modal",data-target="#modal-login") 登录
                        li.item
                            a.menu-item(href="javascript:;",data-toggle="modal",data-target="#modal-register") 注册
                    a.menu-item.mine(href="#",data-toggle="modal",data-target="#modal-mine")
                        | Morning, 王同学


        div.content
            .panel.container
                block content
        .footer
            .container
                ul.nav
                    li
                        span.menu-item @2014 circle
                    +item("/html/contact.html","联系我们")
                    +item("/html/privacy.html","隐私政策")
                    +item("/html/brand.html","使用条款")
                .social
                    span 与我们互动
                    img(src="/img/weixin.png")
                    img(src="/img/weibo.png")
        include modals/login
        include modals/register
        include modals/mine
        block script
        script(src="/js/bootstrap.js")
        script.
            var menus = $(".modal-body .menu li");
            menus.click(function(e){
                e.preventDefault();
                menus.removeClass("active");
                $(this).addClass("active");
                $('.tabbody').hide();
                $($(this).find('a').attr('target')).show();
            });

            // 弹层
            $("#order .btn").on("click",function(){
                $(".tabbody").hide();
                $("#order-detail").show();
            });