extend layout

block style

block content
    .panel
        .panel-inner
            img.bigimg(src="/img/light.jpg")
            img.bigimg(src="/img/light.jpg")
            img.bigimg(src="/img/light.jpg")
            img.bigimg(src="/img/light.jpg")