extend layout

block style

block content
    .panel
        .panel-inner
            img(src="/img/luxery.jpg")
            img(src="/img/luxery.jpg")
            img(src="/img/luxery.jpg")
            img(src="/img/luxery.jpg")