include mixins/collection-item
extend layout

block content
    .panel
        .panel-inner
            +item("/img/luxery.jpg")
            +item("/img/luxery.jpg")
            +item("/img/luxery.jpg")
            +item("/img/luxery.jpg")
            +item("/img/luxery.jpg")