extend layout

block style
    link(rel="stylesheet",href="/css/order.css")

block content
    .panel
        .panel-inner
            .order-head
                ul.breadcrumb
                    li
                        a(href="#") 我的订单
                    li.bling
                        a.text(href="#") 会员中心
                    li
                        a(href="#") 积分体系
                .welcome
                    | Morning，王同学 欢迎回来
            .orders
                .order
                    .title
                        | 订单编号 7586245890241
                    .detail
                        img.pic(src="/img/order.jpg")
                        table.table
                            thead 
                                tr
                                    td 产品名称
                                    td 数量
                                    td 单价
                                    td 总价
                                    td
                            tbody
                                tr
                                    td
                                        | 缘点/CIRCLE轻彩宝系列铂金镶黑色欧泊石戒指 
                                        br
                                        | 产品编号 003985653
                                    td 1
                                    td 3,499.00
                                    td 3,499.00
                                    td 
                                        .status
                                            .text 已经发货
                    .goodflow
                        .arrow
                        table.table
                            tr
                                td 
                                    img(src="/img/shunfeng.png")
                                td 物流编号 4008003985653
                                td 
                                    p 2014/08/09 到达江苏仓库
                                    p 2014/08/09 16:25:00 到达杭州仓库
                                    p 2014/08/09 20:07:00 签收
                .order
                    .title
                        | 订单编号 7586245890241
                    .detail
                        img.pic(src="/img/order.jpg")
                        table.table
                            thead 
                                tr
                                    td 产品名称
                                    td 数量
                                    td 单价
                                    td 总价
                                    td
                            tbody
                                tr
                                    td
                                        | 缘点/CIRCLE轻彩宝系列铂金镶黑色欧泊石戒指 
                                        br
                                        | 产品编号 003985653
                                    td 1
                                    td 3,499.00
                                    td 3,499.00
                                    td 
                                        .status.bling
                                            .text 已经发货
                    .goodflow
                        .arrow
                        table.table
                            tr
                                td 
                                    img(src="/img/shunfeng.png")
                                td 物流编号 4008003985653
                                td 
                                    p 2014/08/09 到达江苏仓库
                                    p 2014/08/09 16:25:00 到达杭州仓库
                                    p 2014/08/09 20:07:00 签收
                .order
                    .title
                        | 订单编号 7586245890241
                    .detail
                        img.pic(src="/img/order.jpg")
                        table.table
                            thead 
                                tr
                                    td 产品名称
                                    td 数量
                                    td 单价
                                    td 总价
                                    td
                            tbody
                                tr
                                    td
                                        | 缘点/CIRCLE轻彩宝系列铂金镶黑色欧泊石戒指 
                                        br
                                        | 产品编号 003985653
                                    td 1
                                    td 3,499.00
                                    td 3,499.00
                                    td 
                                        .status.bling
                                            .text 已经发货
                    .goodflow
                        .arrow
                        table.table
                            tr
                                td 
                                    img(src="/img/shunfeng.png")
                                td 物流编号 4008003985653
                                td 
                                    p 2014/08/09 到达江苏仓库
                                    p 2014/08/09 16:25:00 到达杭州仓库
                                    p 2014/08/09 20:07:00 签收
                                