extend layout

block style
    link(rel="stylesheet",href="/css/login.css") 
 
block content
    .panel.register
        .panel-inner
            img.logo(src="/img/logo.png")
            form.form
                .fields
                    .left
                        .row
                            input#username(type='text',name="username",placeholder="用户名")
                            .hint 长度不能少于3个字符
                        .row
                            input#email(type='text',name="email",placeholder="邮箱")
                            .hint 请至少留下1个有效邮箱
                        .row
                            input#password(type="password",name="password",placeholder="密码")
                            .hint 长度不能少于6个字符
                        .row.password-strength
                            span 密码强度
                            .strong-hint
                                .dot
                                .dot
                                .dot
                        .row
                            input#confirm(type="password",placeholder="确认密码")
                            .hint 请再次确认密码
                    .right
                        .row
                            input#qq(type="text",name="qq",placeholder="QQ")
                        .row
                            input#mobile(type="text",name="mobile",placeholder="手机号码")
                        .row.others
                            .left-link
                                a.text(href="#") 忘记密码
                            .right-link
                                a.text(href="#") 已有账号登录
                //- .read-spec
                //-     我已看过并接受用户协议
                .row
                    input.submit(type="submit",value="")

block script
    include init-adjust-panel
    include init-placeholder
    script.

        $("#password").on("keyup",function(){
            var password = $(this).val().trim();
            var strength = 0;

            [   
                password.match(/\d/),
                password.match(/\w/),
                password.match(/[^\w\d]+/),
                password.length > 3
            ].forEach(function(pass){
                if(pass){
                    strength += 1;
                }           
            });

            if(strength < 0){
                strength = 1;
            }
            if(strength > 3){
                strength = 3;
            }

            if(password.length == 0){
                strength = 0;
            }

            $(".strong-hint .dot").removeClass("active").each(function(i,el){
                if( i+1 <= strength){
                    $(el).addClass("active");
                }
            });
        });

        $("form").on("submit",function(){
            var username = $("#username").val().trim();
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();
            var confirm = $("#confirm").val().trim();
            var qq = $("#qq").val().trim();
            var mobile = $("#mobile").val().trim();

            var rules = [
                [!username, "请输入用户名"],
                [username.length < 3, "用户名长度不能少于3个字符"],
                [!email, "请输入邮箱"],
                [!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email), "邮箱格式不符合规范"],
                [!password, "请输入密码"],
                [password != confirm, "两次密码输入不匹配"],
                [!qq,"请输入QQ号"],
                [!mobile,"请输入手机号"]
            ];

            for(var i = 0; i < rules.length ; i++ ){
                var  rule = rules[i];
                if(rule[0]){
                    alert(rule[1]);
                    return false;
                }
            }
            return false;
        });