extend layout

block style
    link(rel="stylesheet",href="/css/login.css") 
 
block content
    .panel.register
        .panel-inner
            img.logo(src="/img/logo.png")
            form.form
                .left
                    .row
                        input#username(type='text',name="username",placeholder="用户名")
                        .hint 长度不能少于3个字符
                    .row
                        input#email(type='text',name="email",placeholder="邮箱")
                    .row
                        input#password(type="password",name="password",placeholder="密码")
                    .row.password-strength
                        span 密码强度
                        .strong-hint.weak
                    .row
                        input#password(type="password",name="password",placeholder="确认密码")
                .right
                    .row
                        input#qq(type="text",name="qq",placeholder="QQ")
                    .row
                        input#phone(type="text",name="phone",placeholder="手机号码")
            //- .read-spec
            //-     我已看过并接受用户协议
            input.submit(type="submit",value="")

block script
    script(src="/js/placeholder.js")
    script.
        $(".row").each(function(i,el){
            $(el).find("input").on("click",function(){
                $(".row").removeClass("active");
                $(el).addClass("active");
            });
        });
        $(".row input").on("blur",function(){
            $(".row").removeClass("active");
        });

        $(".row input").placeholder();

        $("form").on("submit",function(){
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();
            if(!email){
                alert("请输入邮箱");
                return false;
            }
            if(!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email)){
                alert("邮箱格式不符合规范");
                return false;
            }
            if(!password){
                alert("请输入密码");
                return false;
            }
            return true;
        });