div#address.tabbody
  .head
    h2.title 地址收藏
    p 请添加所有您想要的寄送地址（你的家、工作地点、常住址...）这样您就不需要在每次下订单时填写寄送地址。 
  .bd
    .block(style="padding:20px 0;")
      .btn.btn-black.btn-create.btn-big(style="float:right;") 添加新地址
    table.table-bordered
      tr
        th(style="width:200px") 地址
        th 收件人
        th 联系电话
        th(style="width:200px") 操作
      tr
        td 彩虹城1508滨江区310053杭州市浙江省中国
        td 王庆茹
        td +86 18616365550 
        td
          .btn.btn-black.btn-edit 修改
          .btn.btn-black.btn-remove 删除