div#address-removed.tabbody
  .head
    h2.title 地址收藏
    p 请添加所有您想要的寄送地址（你的家、工作地点、常住址...）这样您就不需要在每次下订单时填写寄送地址。 
  .bd(style="margin-top:20px")
    strong 地址已成功删除
    .btn.btn-big.btn-black.btn-check(style="float:right") 查看我的地址收藏