#modal-mine.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-mine-label', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#modal-mine-label.modal-title
      .modal-body
        .left
          ul.menu
            li.active 
              a(href="#",target="#mine") 我的账户
            li
              a(href="#",target="#order") 已完成的订单
            li 
              a(href="#",target="#return") 退货
            li 
              a(href="#",target="#bill") 票据
            li 
              a(href="#",target="#address") 地址收藏
            li 
              a(href="#",target="#profile") 个人资料
            li 
              a(href="#",target="#account") 登录资料
            li 
              a(href="#",target="#subscribe") 邮件订阅
        .right
          include ./intro
          include ./order
          include ./return
          include ./bill
          include ./address
          include ./profile
          include ./account
          include ./subscribe