div#profile-updated.tabbody
  .head
    h2.title 修改个人资料
    p 您可以查看和修改个人资料（姓名、地址、电话...）和您的的联系方式，以方便今后的购物。
  .bd(style="margin-top:20px")
    strong 个人资料已成功更新
    .btn.btn-big.btn-black.btn-check(style="float:right") 查看我的个人资料