div#recipt.tabbody
  .head
    h2.title 票据
    p 以pdf格式下载您的购买票据
  .bd
    table.table-bordered
      tr
        th 日期
        th 票据
        th 订单
        th 金额
        th 操作
      tr
        td 2014/5/20
        td 000000000000000
        td 88888888888888888
        td ￥2300
        td 
          .btn 下载
      tr
        td 2014/5/20
        td 000000000000000
        td 88888888888888888
        td ￥2300
        td 
          .btn 下载
      tr
        td 2014/5/20
        td 000000000000000
        td 88888888888888888
        td ￥2300
        td 
          .btn 下载
      tr
        td 2014/5/20
        td 000000000000000
        td 88888888888888888
        td ￥2300
        td 
          .btn 下载