#modal-register
    font-size: 12px
    .head
        h2
            font-weight: bold
            font-size: 12px
        p
            font-size: 12px
            margin-bottom: 10px
    .modal-body
        width: 675px
        margin: 0 auto
    .title
        margin-bottom: 5px
    .head
        border-bottom: 1px dashed #000
